version: '3.7'
services:
  progress-tracker-db:
    image: mongo
    restart: always
    container_name: progress-tracker-db
    ports:
      - 27017:27017
    volumes:
      - progress-tracker-db:/data/db
    networks:
      - progress-tracker-network

  progress-tracker-app:
    container_name: progress-tracker-app
    restart: always
    build: .
    ports:
      - 8080:8080
    volumes:
      - .:/app
    depends_on:
      - progress-tracker-db
    networks:
      - progress-tracker-network

volumes:
  progress-tracker-db:
    name: progress-tracker-db

networks:
  progress-tracker-network:
    name: progress-tracker-network
